{{set . "title" "Admin Compose"}}

<!-- {{append . "moreStyles" "/ipa/js/epiceditor.min.js"}} -->
{{append . "moreScripts" "/ipa/js/epiceditor.min.js"}}
{{appendjs . "moreHead" "initEpicEditor();"}}
{{appendjs . "moreHead" "initMaillistCompose();"}}

{{template "templates/header.html" .}}
{{template "templates/menu.html" .}}

<div class="row">
    <div class="large-12 large-centered small-12 columns">
        <div class="panel">

            <div class="row">
                <div class="small-4 columns">
                <label>Select Box</label>
                    <select id="maillist-compose-field-list">
                        <option value="all">All</option>
                        <option value="weekly">Weekly</option>
                        <option value="longer">Longer</option>
                        <option value="promo">Promo</option>
                        <option value="beta">Beta</option>
                    </select>
                </div>

                <div class="small-4 columns">
                <label>Subject</label>
                    <input type="text" id="maillist-compose-field-subject" placeholder="subject" />
                </div>

                <div class="small-4 columns">
                	<a id="maillist-compose-button" class="button">Save Draft</a>
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ .csrf_token }}" />

                </div>
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 large-centered small-12 columns">
        <div class="panel">
            <h3><b>Compose a nice message to your users!</b></h3>
			<div id="epiceditor"></div>
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
